* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100vh;
    margin: 0;
    background: url(./assets/lofi-bg.png) no-repeat center/cover fixed;
}


#root {
    height: 100%;
    width: 100%;
    padding: 20px;
}
